/* Fonts */
@font-face
{
  font-family: 'Muli';
  src:  url('fonts/Mulish/Mulish-VariableFont_wght.ttf') format('woff2'),
        url('fonts/Mulish/Mulish-VariableFont_wght.ttf') format('woff'),
        url('fonts/Mulish/Mulish-VariableFont_wght.ttf') format('truetype');
}

/* Mobile first for if the viewport is at least extra small */

/* Navigation bar */
.navbar
{
  background-color: #495867;
}

.nav-link
{
  font-family: 'Muli';
  font-size: 125%;
}

/* ------------------ */

div.col
{
  font-family: 'Muli';
}

#home-intro-text
{
  font-size: 6vw;
}

h1, h2, h3, h4, h5, p, figcaption
{
  font-family: "Muli";
}

h1, h5, b
{
  color: #495867;
}

.home-downloads, .contact-submit
{
  background-color: #495867;
  border-color: #495867;
}

footer
{
  font-family: 'Muli';
  background-color: #495867;
  color: white;
}

.menu-logo
{
  width: 10%;
}

img.portfolio-img
{
  height: 200px;
  object-fit: contain;
}

img.link-icons
{
  height: 50px;
  object-fit: contain;
}

img.contact-icon
{
  height: 75px;
  object-fit: contain;
}

/* If the viewport is at least medium */
@media screen and (min-width: 768px) {
  
  #home-intro-text
  {
    font-size: 4vw;
  }

  img.portfolio-img
  {
    height: 300px;
  }
}

/* If the viewport is at least large */
@media screen and (min-width: 992px) {
  
  #home-intro-text
  {
    font-size: 2vw;
  }

  #w-custom
  {
    widt: 50% !important;
  }
}